<!DOCTYPE html>
<html>
<head>
  <title>Portal de Noticias</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8">
      <div class="card mb-4">
        <img src="https://via.placeholder.com/800x400" class="card-img-top" alt="Noticia">
        <div class="card-body">
          <h5 class="card-title">Título de la noticia</h5>
          <p class="card-text">Descripción de la noticia. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="btn btn-primary">Leer más</a>
        </div>
      </div>

      <div class="card mb-4">
        <img src="https://via.placeholder.com/800x400" class="card-img-top" alt="Noticia">
        <div class="card-body">
          <h5 class="card-title">Título de la noticia</h5>
          <p class="card-text">Descripción de la noticia. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="btn btn-primary">Leer más</a>
        </div>
      </div>

      <!-- Agrega más noticias aquí -->

    </div>

    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Categorías</h5>
          <ul class="list-group">
            <li class="list-group-item">Categoría 1</li>
            <li class="list-group-item">Categoría 2</li>
            <li class="list-group-item">Categoría 3</li>
            <li class="list-group-item">Categoría 4</li>
            <li class="list-group-item">Categoría 5</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Publicidad</h5>
          <p class="card-text">Espacio para publicidad. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
